html {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #673f73; /* Text colour */
    background: #ffe2eb; /* Background colour */
    text-align: center;
}

.container {
    background: #f5f5f5;
    height: 100vh;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background: #f5f5f5;
    height: 130px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background: #f5f5f5;
    height: 110px;
    width: 450px;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
}

body {
    margin: 0;
}

.flashes {
    color: #b7250f;
}

.pageHeader {
    margin-top: 0;
}

.mainImage {
    height: 400px;
    width: 400px;
}

input[name=recent] {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-family: times;
    color: #3657d4;
    background: none;
    text-decoration: underline;
    border-width: 0px;
    // display: inline;
}
