<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=1.0, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Nothing You Could Do" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="shortcut icon" href="static/images/benzeneIcon.png">
        <title> Bunshi </title>
    </head>

    <header>
        <!-- Title & description
        ----------------------------------------------------------------------->
        <br>
        <h1 class="main-header"> Bunshi </h1>
        <p>
            Search for the bond-line structure of any compound or molecule!
            Enter a valid <a href="https://en.wikipedia.org/wiki/IUPAC_nomenclature_of_organic_chemistry" target="_blank">IUPAC</a> or common name below
        </p>
    </header>

    <div class="main-container">
        <body>
            <!-- Alert
            ------------------------------------------------------------------->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p class="flashes">
                        Alert! {{ message }}
                    </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Search bar
            ------------------------------------------------------------------->
            <br>
            <form class="search-bar" method="post">
                <input name="compound" id="compound" required> </input>
                <input class="search-button" type="submit" value="Search"> </input>
            </form>

            <!-- Image of molecule
            ------------------------------------------------------------------->
            {% if imageSource|length > 0 %}
                {% if owoEgg %}
                    <img class="owo-image" src="static/images/owo.png" alt="owo"></img>
                {% else %}
                    <img class="main-image" src="{{ imageSource }}" alt="Structure"></img>
                {% endif %}

                <p> <i> {{ compound }} </i> </p>

                {% if preferred %}
                    <p> Pref. IUPAC Name: <b> {{ IUPAC|safe }} </b> </p>
                {% else %}
                    <p> Molecular Name: <b> {{ IUPAC|safe }} </b> </p>
                {% endif %}

                <p> Molecular Formula: <b> {{ formula|safe }} </b> </p>
                <p> Molecular Weight: <b> {{ weight }}g </b> </p>

                <div title="PubChem">
                    <a href="{{ pageURL }}" target="_blank"> More about {{ compound }} </a>
                </div>

                {% if acetateEgg %}
                    <br>
                    <a href="https://www.youtube.com/watch?v=4SYSaHLWAYc" target="_blank"> <i> Click me! </i> </a>
                {% endif %}

            {% endif %}

            <!-- Error text, if name is incorrect
            ------------------------------------------------------------------->
            {% if error %}
                <br> <br>
                <h2> Couldn't find </h2>
                <h1> {{ compound }} </h1>
                <h2> Try using the correct <br> IUPAC or common name. </h2>
                <br> <br>
            {% endif %}

        </body>
    </div>

    <!-- footer
    ----------------------------------------------------------------------->
    <footer>
        <br>
        <div title="Github">
            <a href="https://github.com/hvrc/Bunshi" target="_blank"> Github </a>
        </div>
        <p>
            Gets data from <a href="https://pubchem.ncbi.nlm.nih.gov/" target="_blank"> PubChem </a>
        </p>
    </footer>

</html>
